.grid {
    width: 90%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}

@media only screen and (min-width: 600px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }  
}

@media only screen and (min-width: 1000px) {
    .grid {
      grid-template-columns: repeat(5, 1fr);
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}

.col {
    flex: 1;
}

.col-4 {
    flex: 4;
}

.full-size-poster {
    padding-right: 1rem;
    margin-bottom: 1rem;
    transform-origin: top left;
    height: 40rem;
}

.actor-image {
    object-fit: cover;
    width: 15rem;
    height: 15rem;
}

.grey-text {
    color: rgb(197, 197, 197)
}

.black-text {
    color: black;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}